
<h4>Edit Member</h4>

<label>Member's First Name</label>
<input [(ngModel)]="selectedMember.firstName">
<br>

<label>Member's Last Name:</label>
<input [(ngModel)]="selectedMember.lastName">
<br>

<label>Member's Role:</label>
<input [(ngModel)]="selectedMember.role">
<br>

<label>Years of Membership:</label>
<input [(ngModel)]="selectedMember.yearsMember">
<br>

<label>Bio:</label>
<input [(ngModel)]="selectedMember.bio">
<hr>
<button (click)="beginUpdatingMember(selectedMember)">Update</button>

<button (click)="beginDeletingMember(selectedMember)">Delete</button>
